/*HOMEPAGE*/
body {
  overflow-x: hidden;
}

.nav-link {
  color: #fed136;
}

.navlink:hover {
  color: #FFD700;
}

#mainNav {
  background-color: transparent; 
  /*untuk warna bg navbar setelah responsive layar HP*/
}

#mainNav .navbar-toggler { /*Memposisikan sidebar bootstrap*/
  font-size: 16px;
  margin-right: -100px;
  margin-bottom: 8px;
  padding: 13px;
  color: black;
  border: 0;
  background-color: #023d67;  
  font-family: 'Roboto';
}

#mainNav .navbar-brand {
  color: white;
  font-family: 'Roboto';
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #fec503;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 16px;
  letter-spacing: 1px;
  color: white;
  font-family: 'Roboto';
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #fed136;
}

@media (min-width: 690px) {
  #mainNav {
    padding-top: 20px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    font-size: 1.3em;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }

  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #023d67; 
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.4em;
    padding: 12px 0;
  }
}
/*disesuaiin sama gambar background*/

/*FILE ASLI*/
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.hero-slider {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.hero-slider .carousel-cell {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero-slider .carousel-cell .inner {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: white;
  text-align: center;
}
.hero-slider .carousel-cell .inner .subtitle {
  font-family: "Roboto Slab", serif;
  font-size: 2.2rem;
  line-height: 1.2em;
  letter-spacing: 3px;
  color: rgba(255, 255, 255);
  margin-bottom: 10px;
}
.hero-slider .carousel-cell .inner .title {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  line-height: 1.2em;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 40px;
}
.hero-slider .carousel-cell .inner .btn {
  border: 1px solid #fff;
  padding: 14px 18px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 3px;
  color: #fff;
  text-decoration: none;
  transition: all .2s ease;
}
.hero-slider .carousel-cell .inner .btn:hover {
  background: #fff;
  color: #000;
}
.hero-slider .flickity-prev-next-button {
  width: 80px;
  height: 80px;
  background: transparent;
}
.hero-slider .flickity-prev-next-button:hover {
  background: transparent;
}
.hero-slider .flickity-prev-next-button .arrow {
  fill: white;
}
.hero-slider .flickity-page-dots {
  bottom: 30px;
}
.hero-slider .flickity-page-dots .dot {
  width: 30px;
  height: 4px;
  background: rgba(255, 255, 255, 1);
  border: 0 solid white;
  border-radius: 0;
}
.hero-slider .flickity-page-dots .dot.is-selected {
  background: #fec503;
  border: 0 solid #fec503;
}

@media screen and (max-width: 620px) {
  .carousel-cell .inner {
    width: 100%;
    display: block;
  }
}

/*CARDS*/

/* Float four columns side by side */
#cardcont {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: 'Montserrat';
}

h2 {
  letter-spacing: 1px;
  text-align: center;
}

.column {
  float: left;
  width: 25%;
  padding: 0 16px;
  border-radius: 20px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

 Clear floats after the columns 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 1000px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 520px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}


/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
.subbtn {
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: #03749c;
  color: white;
}

.subbtn .btn-block:active {
  background-color: #15b1d7;
  color: white;
}

.subbtn .btn-block:hover {
  transform: scale(1.05);
}

/*----------------FOOTER-------------------*/

#myFooter{
    padding-top:32px;
    background-color: #03749c;
}

#myFooter .container{
    text-align: center;
}

#myFooter .footer-copyright{
    margin-bottom: 35px;
    text-align: center;
    color: white;
}

#myFooter ul{
    list-style-type: none;
    padding: 0;
    margin-bottom: 18px;
}

#myFooter li{
    display: inline-block;
    margin: 0px 15px;
    line-height: 2;
}

#myFooter a{
    color: white;
    font-size: 18px;
    text-decoration: none;
}

#myFooter a:hover {
  color: #fed136;
}

#myFooter .footer-social{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #023d67;
}

#myFooter .fa{
    font-size: 25px;
    margin-right: 15px;
    margin-left: 20px;
    background-color: white;
    color: #BDBDBD;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 43px;
    text-decoration: none;
    transition:color 0.2s;
}

#myFooter .fa-facebook:hover{
   color: #DAA520 ;
}

#myFooter .fa-twitter:hover{
    color: #DAA520  ;

}

#myFooter .fa-instagram:hover{
    color: #DAA520;
} 

/*--------------Sign Up--------------*/

@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);


.pagepaket {
    margin: 0;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    color: black;
    text-align: left;
    background-color: #f5f8fa;
}

.navbar-laravel
{
    box-shadow: 0 2px 4px rgba(0,0,0,.04);
    background-color: rgba(161,161,161,0.2);
    color: white;
}

.navbar-brand , .nav-link, .my-form, .login-form
{
    font-family: Raleway, sans-serif;
}

.my-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.my-form .row
{
    margin-left: 0;
    margin-right: 0;
}

.login-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.login-form .row
{
    margin-left: 0;
    margin-right: 0;
}


/*---------------LOGIN PAGE------------*/

.login {
  background: url("img/picture1.jpg");
}

#loginNav {
  background-color: #023d67; 
  /*untuk warna bg navbar setelah responsive layar HP*/
}

.fa-bars {
  font-size: 1.3em; /*ubah ukuran sidebar*/
}

#loginNav .navbar-toggler { /*Memposisikan sidebar bootstrap*/
  font-size: 16px;
  margin-right: -100px;
  margin-bottom: 8px;
  padding: 13px;
  color: black;
  border: 0;
  background-color: #023d67;  
  font-family: 'Roboto';
}

#loginNav .navbar-brand { /*logo navbar kata pijar*/
  color: white;
  font-family: 'Roboto';
}

#loginNav .navbar-brand.active, #mainNav .navbar-brand:active, #loginNav .navbar-brand:focus, #loginNav .navbar-brand:hover {
  color: #fec503;
}

#loginNav .navbar-nav .nav-item .nav-link { /*manage list di navbar*/
  font-size: 16px;
  letter-spacing: 1px;
  color: white;
  font-family: 'Roboto';
}

#loginNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #fed136;
}

@media (min-width: 690px) {
  #loginNav {
    padding-top: 3px;
    padding-bottom: 3px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: #023d67;
  }
  #loginNav .navbar-brand {
    font-size: 1.3em;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  #loginNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em;
  }

  #loginNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #023d67; 
  }
  #loginNav.navbar-shrink .navbar-brand {
    font-size: 1.4em;
    padding: 12px 0;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} 

input, button {
  border: none;
  outline: none;
  background: none;
  font-family: 'Montserrat';
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input, button {
  border: none;
  outline: none;
  background: none;
  font-family: 'Montserrat';
}

.logincont {
    overflow: hidden;
    position: relative;
    width: 900px;
    height: 600px;
    margin: 0 auto 0  ;
    background: #fff;
  }

.form {
  width: 640px;
  transition: -webkit-transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
  padding: 50px 30px 0;
}

.sub-cont {
  overflow: hidden;
  position: absolute;
  left: 640px;
  top: 0;
  width: 900px;
  height: 100%;
  padding-left: 260px;
  background: #fff;
  transition: -webkit-transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}
.logincont.s--signup .sub-cont {
  -webkit-transform: translate3d(-640px, 0, 0);
          transform: translate3d(-640px, 0, 0);
}

button {
  display: block;
  margin: 0 auto;
  width: 260px;
  height: 36px;
  border-radius: 30px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.img {
  overflow: hidden;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 260px;
  height: 600px;
  padding-top: 380px;
}
.img:before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 900px;
  height: 100%;
  background-size: cover;
  background-color: #03749c; 
  transition: -webkit-transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}
.img:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.logincont.s--signup .img:before {
  -webkit-transform: translate3d(640px, 0, 0);
          transform: translate3d(640px, 0, 0);
}
.img_text {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 150px;
  width: 100%;
  padding: 0 20px;
  text-align: center;
  color: #fff;
  transition: -webkit-transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
  font-family: 'Montserrat';
}
.img_text h2 {
  font-size: 26px;
  margin-bottom: 10px;
  font-weight: normal;
}
.img_text p {
  font-size: 16px;
  line-height: 1.5;
}
.logincont.s--signup .img_text.m--up {
  -webkit-transform: translateX(520px);
          transform: translateX(520px);
}
.img_text.m--in {
  -webkit-transform: translateX(-520px);
          transform: translateX(-520px);
}
.logincont.s--signup .img_text.m--in {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.img_btn {
  overflow: hidden;
  z-index: 2;
  position: relative;
  width: 100px;
  height: 36px;
  margin: 0 auto;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
  top: 140px;
  font-family: 'Montserrat';
}

.img_btn:focus {
  outline: none;
}

.img_btn:after {
  content: '';
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 30px;
}
.img_btn span {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: -webkit-transform 1.2s;
  transition: transform 1.2s;
  transition: transform 1.2s, -webkit-transform 1.2s;
}
.img_btn span.m--in {
  -webkit-transform: translateY(-72px);
          transform: translateY(-72px);
}
.logincont.s--signup .img_btn span.m--in {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.logincont.s--signup .img_btn span.m--up {
  -webkit-transform: translateY(72px);
          transform: translateY(72px);
}

h2 {
  width: 100%;
  font-size: 26px;
  text-align: center;
}

label {
  display: block;
  width: 300px;
  margin: 25px auto 0;
  text-align: center;
}
label span {
  font-size: 12px;
  color: #cfcfcf;
  text-transform: uppercase;
}
input {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  text-align: center;
}

.forgot-pass {
  margin-top: 60px;
  margin-bottom: -30px;
  text-align: center;
  font-size: 12px;
  color: #cfcfcf;
}

.submit {
  margin-top: 40px;
  margin-bottom: 20px;
  width: 300px;
  background: #d4af7a;
  text-transform: uppercase;
}


.submit:focus {
  transform: scale(1.01);  
}

.fb-btn {
  border: 2px solid #d3dae9;
  color: #8fa1c7;
  width: 300px
}

.fb-btn:focus {
  outline: none;
  transform: scale(1.01); 
}

.fb-btn span {
  font-weight: bold;
  color: #455a81;
}

.sign-in {
  transition-timing-function: ease-out;
  margin-top: 100px;
  font-family: 'Montserrat';
}

.hide-show {
  margin-top: 3px;
  margin-bottom: 3px;
}

.hide-show span{
  border: 1px solid grey;
  padding: 3px 15px 3px 15px;
}

.btnpass:hover {
  cursor: pointer;
}

.logincont.s--signup .sign-in {
  transition-timing-function: ease-in-out;
  transition-duration: 1.2s;
  -webkit-transform: translate3d(640px, 0, 0);
          transform: translate3d(640px, 0, 0);
}

.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}

.sign-up {
  -webkit-transform: translate3d(-900px, 0, 0);
          transform: translate3d(-900px, 0, 0);
  margin-top: 100px;
  font-family: 'Montserrat';
}
.logincont.s--signup .sign-up {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}